@model TheMoviesHub.Models.TheMovieDb
<style>
    body {
        background-color: #000;
    }

    #apiDiv {
        padding-left: 20px;
        display: inline-block;
        width: 95%;
        text-align: justify;
    }

        #apiDiv h4 {
            margin: 10px 0;
        }

        #apiDiv .biography img {
            float: left;
            padding-right: 10px;
        }

        #apiDiv .return {
            text-align: center;
        }

            #apiDiv .return a {
                color: #00e8ff;
                font-size: 20px;
                text-decoration: underline;
            }
</style>
@{ ViewBag.Title = "Implementacion TheMovieDB (TMDB) API";}
<h1>Implementing The Movie Database API</h1>
<div id="apiDiv">
    <div class="return"><a href="@Url.Action("Index", "TmdbApi")>Regresar</a></div>
    <h4>@Model.name</h4>
    <p class="biography"><img src="@Model.profile_path"/>@Model.biografy</p>
    <p>Birthday: @Model.Birthday</p>
    <p>Place of Birth: @Model.Place_of_Birth</p>
    <p>Also Known as: @Model.also_known_as</p>
</div>
